@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Source+Code+Pro&display=swap');

body {
    background-color: #0e0e37;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

input {
    color: white;
}
.material-icons {
    color: #d60a00;
}

nav {
    background-color: #090909;
    color: white;
}

.nav-color {
    color: black;
}

@media only screen and (max-width : 510px) {
    nav {
        height: 100px;
    }
}


/*---------------------------------------------------------sidenav*/

nav, header, main {
    padding-left: 300px;
}

main {
    padding-top: 100px;
}

.sidenav {
    color: white;
    background-color: #090909;
}

.sidenav-title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.sidenav li > a {
    color: white;
    background-color: dimgrey;
}


.logo {
    height: 150px;
    width: 130px;
    padding-bottom: 30px;
}

@media only screen and (max-width : 992px) {
    nav, header, main, footer {
        padding-left: 0;
    }
}

.sidenav li > a > i.material-icons {
    color: white;
}


/*---------------------------------------------------------registration*/
.card {
    background-color: #090909;
    border: 1px solid white;
}

.login {
    margin-right: 500px;
}
/*---------------------------------------------------------Dashboard*/

.modal {
    background-color: #311616;
}

.modal-footer {
    color: #000;
}

.btn-flat {
    color: #d60a00;
}

.btn, .btn-large, .btn-small {
    background-color: dimgrey;
}

tr {
    border-bottom: 2px solid #d60a00;
}

/*---------------------------------------------------------home Page*/

.landing {
    background: linear-gradient(180deg, #3138cb, #0e0e10);
    background-size: 400% 400%;

    -webkit-animation: bg-color-change 18s ease infinite;
    -moz-animation: bg-color-change 18s ease infinite;
    animation: bg-color-change 18s ease infinite;
}

@-webkit-keyframes bg-color-change {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes bg-color-change {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes bg-color-change {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}


.container-fluid {
    height: 80vh;
}

.text-content {
    padding-top: 50px;
    font-size: 2em;
}

.home-header {
    padding: 100px 0px 0px 0px;
}

.home-footer {
    height: 200px;
    background-color: #090909;
}

@media only screen and (max-width : 510px) {
    .home-footer {
        height: 450px;
    }
}
.rotate-left {
    padding-bottom: 50px;
    transform: rotate(-15deg);
}

.rotate-right {
    transform: rotate(15deg);
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline-block;
    padding: 50px;
}
