body {
    background-color: black;
    color: white;
}

.material-icons {
    color: white;
}


nav {
    background-color: black;
    color: darkblue;
}
/*---------------------------------------------------------sidenav*/
nav, header, main, footer {
    padding-left: 300px;
}


.sidenav {
    color: white;
    background-color: darkgrey;
}


@media only screen and (max-width : 992px) {
    nav, header, main, footer {
        padding-left: 0;
    }
}


/*---------------------------------------------------------registration*/
.card {
    background-color: #090909;
    border: 1px solid white;
}

/*---------------------------------------------------------Dashboard*/
.collection .collection-item {
    background-color: #090808;
}