body {
    background-color: black;
    color: white;
}

.material-icons {
    color: white;
}


nav {
    background-color: black;
    color: white;
}
/*---------------------------------------------------------sidenav*/
nav, header, main, footer {
    padding-left: 300px;
}


.sidenav {
    color: white;
    background-color: #090909;
}

.sidenav-title, .balance {
    padding-bottom: 30px;
}

.sidenav li > a {
    color: white;
    background-color: dimgrey;
}

@media only screen and (max-width : 992px) {
    nav, header, main, footer {
        padding-left: 0;
    }
}


/*---------------------------------------------------------registration*/
.card {
    background-color: #090909;
    border: 1px solid white;
}

/*---------------------------------------------------------Dashboard*/

.modal {
    background-color: #311616;
}
/*---------------------------------------------------------Landing Page*/

.container-fluid {
    height: 100vh;
}


.text-content {
    padding-top: 50px;
    font-size: 2em;
}