<ul id="slide-out" class="sidenav sidenav-fixed">
    <p class="sidenav-title center">Token Portfolio</p>
    <p class="balance center">Balance $10,000</p>
    <li><a href="{{ url_for('dashboard') }}"><i class="material-icons tiny prefix">dashboard</i>Dashboard</a></li>
    <li><a href="{{ url_for('add_token') }}"><i class="material-icons tiny prefix">add_box</i>Add Token</a></li>
    <li><a href="{{ url_for('profile_page') }}"><i class="material-icons tiny prefix">person_pin</i>Profile</a></li>
    <li><a href="{{ url_for('portfolio_stats') }}"><i class="material-icons tiny prefix">pie_chart</i>Stats</a></li>
</ul>

