<!-- Sidenav only displays on logged in pages -->
<ul id="slide-out" class="sidenav sidenav-fixed">
    <p class="sidenav-title center">Token Portfolio</p>
    <div class="center">
        <img src="https://support.anycoindirect.eu/hc/article_attachments/115003020811/ETH_logo.png" alt="" class="
        logo responsive-img">
    </div>
    <!-- Sidenav links -->
    <li><a href="{{ url_for('tokens.dashboard') }}"><i class="material-icons tiny prefix">dashboard</i>Dashboard</a></li>
    <li><a href="{{ url_for('tokens.add_token') }}"><i class="material-icons tiny prefix">add_box</i>Add Token</a></li>
    <li><a href="{{ url_for('users.profile_page') }}"><i class="material-icons tiny prefix">person_pin</i>Profile</a></li>
    <li><a href="{{ url_for('main.portfolio_stats') }}"><i class="material-icons tiny prefix">pie_chart</i>Stats</a></li>
    <li><a href="{{ url_for('users.logout') }}"><i class="material-icons tiny prefix">exit_to_app</i>Logout</a></li>
</ul>

