{% extends 'base.html' %}
    {% include 'includes/_sidenav.html' %}

    {% block body %}
        <div class="container">
            <div class="row">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-field">
                        <i class="material-icons prefix">collections</i>
                        {% if form.tokens.errors %}
                            {{ form.tokens }}
                        <div>
                            {% for error in form.tokens.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.tokens }}
                        {% endif %}
                        <label for="tokens">Choose Token</label>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}