{% extends 'base.html' %}
    {% include 'includes/_navbar.html' %}
    {% include 'includes/_sidenav.html' %}

    {% block body %}
        <table class="highlight centered col s12">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Amount</th>
                    <th>Price(BTC)</th>
                    <th>Date</th>
                    <th>Value(BTC)</th>
                </tr>
            </thead>
            {% for token in users_token.items %}
            <tbody>
                <tr>
                    <td>{{ token.tokens }}</td>
                    <td>{{ token.token_amount }}</td>
                    <td>{{ token.token_price }}</td>
                    <td>{{ token.buy_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ token.token_price * token.token_amount }}</td>
                    <td><a href="{{ url_for('token', id=token.id) }}" class="btn waves-effect waves-light teal badge"><i class="material-icons">add_circle</i>Edit</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% for page_num in users_token.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if users_token.page == page_num %}
                    <a class="waves-effect waves-light btn" href="{{ url_for('dashboard', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="waves-effect waves-teal btn-flat" href="{{ url_for('dashboard', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}

    {% endblock %}