<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="center">
                    <img src="../static/images/screenshot_1.png" alt="" class="responsive-img">
                    <a class="waves-effect waves-light btn" href="{{ url_for('register') }}">Register</a>
                    <a class="waves-effect waves-light btn" href="{{ url_for('login') }}">Login</a>
                </div>
            </div>
        </div>
    </header>

    <section class="token-images">
        <div class="row">
            <div class="carousel">
                {% for image in token_image %}
                    <img src="{{ image }}" class="carousel-item" alt="token image">
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="create-token">

    </section>

    <section class="read-token">

    </section>

    <section class="update-delete">

    </section>

    <footer>

    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel(
              {
                dist: 0,
                padding: 300,
                numVisible: 5,
                duration: 100,
                next: 2,
              }
              );
        });
    </script>
</body>
</html>