<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


</head>
<body class="landing">
     <!-- Main image -->
    <header class="home-header">
        <div class="container">
            <div class="row">
                <div class="center">
                    <h1>Ethereum Token Portfolio</h1>
                </div>
            </div>
                <div class="center">
                    <a class="waves-effect waves-light btn" href="{{ url_for('users.register') }}">Register</a>
                    <a class="waves-effect waves-light btn" href="{{ url_for('users.login') }}">Login</a>
                </div>
        </div>
    </header>

    <!-- Image Carousel -->
    <section id="token-images">
        <div class="row">
            <div class="carousel">
                {% for image in token_image %}
                    <img src="{{ image }}" class="carousel-item responsive-img hoverable" alt="token image">
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ./Image Carousel -->

    <!-- Create token -->
    <section id="create-token">
        <div class="container-fluid reveal">
            <div class="row">
                <div class="container text center-align col s12 m4 l4">
                    <p class="text-content centered valign-wrapper rotate-left">Create a portfolio for tracking
                        Ethereum tokens, Add
                        your
                        token and holdings</p>
                </div>
                <div class="container shot col s12 m6 l6">
                    <img class="responsive-img hoverable" src="https://drive.google.com/uc?id=1zJsOGX5xPMIu_VEnb4p3vpSSXpvCXufl" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ./Create token -->

    <!-- Read token -->
    <section id="read-token">
        <div class="container-fluid reveal">
            <div class="row">
                <div class="container shot col s12 m6 l6">
                    <img class="responsive-img hoverable" src="https://drive.google.com/uc?id=11FPzaXhxl_dz3PhaLrq852ITe812rwy7" alt="">
                </div>
                <div class="container text center-align col s12 m4 l4">
                    <p class="text-content centered valign-wrapper rotate-right">Read info about your token balance and history,
                        View charts and
                        stats for your portfolio</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Read token -->

    <!-- Update-delete -->
    <section id="update-delete">
        <div class="container-fluid reveal">
            <div class="row">
                <div class="container text valign-wrapper col s12 m4 l4">
                    <p class="text-content centered rotate-left">Update and delete your holdings and prices.</p>
                </div>
                <div class="container shot col s12 m6 l6">
                    <img class="responsive-img hoverable z-depth-2" src="https://drive.google.com/uc?id=16p-R37WeOb_p9Kisi5HRsUNmXEiwjFgr"
                         alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ./Update-delete -->

    <!-- Footer -->
    <footer class="home-footer">
        <div class="container reveal">
            <div class="row">
                <div class="container col s12">
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <h6 class="center"><a href="https://github.com/John-E5" target="_blank">Design by John
            Ennis</a></h6>
                </div>
            </div>
        </div>
    </footer>
    <!-- ./Footer -->

    <!-- materialize script tags -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>

    <script>
        ScrollReveal().reveal('.reveal', { delay: 300 });
        ScrollReveal().reveal('.text', { delay: 500 });
        ScrollReveal().reveal('.shot', { delay: 800 });
    </script>


    <!-- Carousel Jquery -->
    <script>
        $(document).ready(function(){
            $('.carousel').carousel(
              {
                dist: 0,
                padding: 300,
                numVisible: 5,
                duration: 100,
                next: 2,
              }
              );

            setInterval(function () {
                $('.carousel').carousel('next');

            }, 1500);
        });
    </script>

</body>
</html>