{% extends 'base.html' %}
{% block body %}

    <!-- Login form -->
    <h3 class="center login">Token Portfolio</h3>
    <div class="container login">
        <div class="row">
            <div class="col s12 card">
                <div class="card-content">
                    <form action="" method="POST">

                        <!-- csrf tag -->
                        {{ form.hidden_tag() }}
                        <title class="card-title">log In</title>

                        <!-- Email field -->
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            {{ form.email.label }}
                            {% if form.email.errors %}
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                {{ form.email }}
                            {% endif %}
                        </div>

                        <!-- Password field -->
                        <div class="input-field">
                            <i class="material-icons prefix">lock_outline</i>
                            {{ form.password.label }}
                            {% if form.password.errors %}
                                {{ form.password }}
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                {{ form.password }}
                            {% endif %}
                        </div>

                        <!-- login button -->
                         <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                    </form>
                    <small>
                        Need An Account? <a class="" href="{{ url_for('users.register') }}">Sign Up Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}