{% extends 'base.html' %}
    {% include 'includes/_navbar.html' %}
    {% include 'includes/_sidenav.html' %}

    {% block body %}
        <table class="highlight centered token-table col s12">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Holdings</th>
                    <th class="hide-on-small-only">Price(BTC)</th>
                    <th class="hide-on-small-only">Date</th>
                    <th>Value(BTC)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ token.tokens }}</td>
                    <td>{{ token.token_amount }}</td>
                    <td class="hide-on-small-only">{{ token.token_price }}</td>
                    <td class="hide-on-small-only">{{ token.buy_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ token.token_price * token.token_amount }}</td>
                    <td><a href="{{ url_for('tokens.edit_token', id=token.id) }}" class="btn-tiny waves-effect waves-light"><i class="material-icons">edit</i></a></td>
                    <td><a href="" class="btn-tiny waves-effect waves-light modal-trigger" data-target="modal1"><i class="material-icons">delete_forever</i></a></td>
                </tr>
            </tbody>
            <!-- Modal Structure -->
            <div id="modal1" class="modal col s12">
                <div class="modal-content">
                    <h4>Are You Sure You Want to Delete Token?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    <a href="{{ url_for('tokens.delete_token', id=token.id) }}" class="waves-effect waves-red red
                    btn-flat">Delete</a>
                </div>
            </div>
        </table>
    {% endblock %}